* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

li {
    list-style: none;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    background-color: #fff;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    // max-width: 1400px;
    // width: 100%;
    
}

.main {
    width: 100%;
    // max-width: 1040px;
    // width: 100%;
    padding-top: 90px;
    padding-left: 50px;
    overflow: hidden;

}

.container {
    max-width: 1430px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.dashed-link-text {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-style: dashed;
}

.page-title {
    font-size: 38px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-title.center {
    text-align: center;
}

.def-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}
.def-title.center {
    text-align: center;
}


.acc-body {
    height: 0;
    overflow: hidden;
    @include def-anim;
}


.drop-head {

}

.drop-body {
    position: fixed;
    z-index: -1;
    transform: scale(0) translateY(24px);
    @include def-anim;
    padding: 15px 25px;
}

.drop-item.active {

    .drop-body {
        transform: scale(1) translateY(24px);
        z-index: 10000000;
    }
}

.drop-menu {

    &__item {
        padding: 7px 0;
        border-bottom: 1px dashed rgba(173, 185, 250, 0.55);
        &:last-child {
            border: none
        }

        a {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            display: block;
            @include def-anim;

            &:hover {
                color: var(--blue);
            }
        }
    }
}