* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

li {
    list-style: none;
}

button {
    background-color: unset;
    border: none;

    outline: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    background-color: #fff;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    // max-width: 1400px;
    // width: 100%;
    padding-top: 153px;
}

.main {
    width: 100%;
    padding-top: 90px;
    padding-left: 50px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}



.dashed-link-text {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-style: dashed;
}

.page-title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-title.center {
    text-align: center;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 30px;
        line-height: 45px;
    }
}

.def-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}
.def-title.center {
    text-align: center;
}

@media (max-width: 768px) {
    .def-title {
        font-size: 26px;
        line-height: 40px;
    }
}



.acc-body {
    height: 0;
    overflow: hidden;
    @include def-anim;
}


.drop-head {

}

.drop-body {
    position: fixed;
    z-index: -1;
    transform: scale(0) translateY(24px);
    @include def-anim;
    padding: 15px 25px;
}

.drop-item.active {

    .drop-body {
        transform: scale(1) translateY(24px);
        z-index: 10000000;
    }
}

.drop-menu {

    &__item {
        padding: 7px 0;
        border-bottom: 1px dashed rgba(173, 185, 250, 0.55);
        &:last-child {
            border: none
        }

        a {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            display: block;
            @include def-anim;

            &:hover {
                color: var(--blue);
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(#000, .3);
    transition: all .5s ease;
    z-index: -1;
    opacity: 0;
    

    &__close {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -20px;
        right: -40px;
        cursor: pointer;
        background-color: unset;
        border: none;
        background-color: #fff;
        border-radius: 100%;
        @include def-anim;

        svg {
            path {
                @include def-anim;
            }
        }

        &:hover {
            transform: rotate(90deg);
            svg {
                path {
                    fill: red;
                }
            }
        }
    }

    &__layer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10px 50px;
    }

    &__in {
        padding: 30px;
        background: #FFFFFF;
        border-radius: 10px;
        // overflow: hidden;
        width: 100%;
        position: relative;
        transform: scale(0);
        transition: all .5s ease;
    }

    &__head {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__head.center {
        text-align: center;
    }
}

.modal.is-open {
    opacity: 1;
    z-index: 100000000;

    .modal__in {
        transform: scale(1);
    }

}