.CookiesModal {
    
    &__in {
        max-width: 525px;
        padding-left: 50px;
        padding-right: 50px;
    }

    &__head {
        margin-bottom: 15px;
    }

    &__body {
        &_text {
            font-size: 14px;
            line-height: 24px;
            color: #868686;
            margin-bottom: 20px;
        }

        &_action {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}