.doctors {

    &__in {
        padding: 40px 0;
    }

    &__head {
        margin-bottom: 50px;
    }

    &__body {

       
    }

    &__item {
        margin-bottom: 30px;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .doctors {

        &__in {
            padding: 30px 0;
        }

        &__head {
            margin-bottom: 30px;
        }

        &__item {
            
        }
    }
}