.doctorTm {
    padding: 40px 0;
    &__head {
        margin-bottom: 30px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;

        &_item {
            width: calc((100% / 3) - 40px);
            margin: 0 20px;
            margin-bottom: 40px;
            &_y {
                width: 84px;
                height: 57px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;background: #F4F6FE;
                border: 1px solid rgba(173, 185, 250, 0.55);
                border-radius: 2px;
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }

            &_text {
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 15px;
            }

            &_ex {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: 768px) {
    .doctorTm {

        &__body {

            &_item {
                width: calc((100% / 2) - 40px);
            }
        }
    }
}

@media (max-width: 550px) {
    .doctorTm {

        &__body {

            &_item {
                width: calc(100% - 40px);
            }
        }
    }
}