.faq {

    &__in {
        padding: 40px 0;
    }

    &__head {
        margin-bottom: 50px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;

        &_item {
            width: calc((100% / 3) - 18px);
            margin: 0 9px;
            margin-bottom: 18px;
            height: 100%;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
}

@media (max-width: 1200px) {
    .faq {

        &__in {

        }

        &__body {

            &_item {
                width: calc((100% / 2) - 18px);
            }
        }
    }
}

@media (max-width: 768px) {
    .faq {

        &__in {
            padding: 30px 0;
        }

        &__head {
            margin-bottom: 30px;
        }

        
    }
}

@media (max-width: 600px) {
    .faq {

        &__body {
            &_item {
                width: calc(100% - 18px);
            }
        }
    }
}