.pricingBlock {

    &__in {
        padding: 40px 0;
    }

    &__head {
        margin-bottom: 50px;
    }

    &__body {
        display: flex;
        margin-left: -10px;
        margin-right: -10px;

        &_item {
            margin: 0 10px;
            width: calc((100% / 4) - 20px);
        }
    }
}

@media (max-width: 1200px) {
    .pricingBlock {

        &__head {
            margin-bottom: 10px;
        }

        &__body {
            overflow-x: auto;
            padding-top: 20px;

            &_item {
                min-width: 230px;
            }
        }
    }
}

@media (max-width: 600px) {
    .pricingBlock {

        &__in {
            padding: 30px 0;
        }
    }
}