.footer {
    box-shadow: 0px -12px 45px rgba(173, 185, 250, 0.3);
    border-radius: 2px;
    &__top {
        border-bottom: 1px solid #DCDCDC;
        &_in {
            padding: 25px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_ph {
            display: flex;
            align-items: center;

            &_item {
                margin-right: 40px;

                a {
                    position: relative;
                    padding-left: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    @include def-anim;

                    &:hover {
                        color: var(--orange);
                    }

                    &:after {
                        height: 20px;
                        width: 12px;
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 0;
                        content: '';
                        background-image: url('../img/icons/phone.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }
            }
        }

        &_actions {
            display: flex;
            align-items: center;

            &_item {
                margin: 0 9px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    &__main {

        &_in {
            padding: 40px 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &_body {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            // flex: 0 0 100%;
            &_part {
                width: calc((100% / 4) - 40px);
                margin: 0 20px;
                margin-bottom: 20px;
                &_head {
                    text-transform: uppercase;
                    font-size: 13px;
                    line-height: 15px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                &_list {

                }

                &_item {
                    padding: 5px 0;

                    a {
                        font-size: 14px;
                        line-height: 17px;
                        @include def-anim;

                        &:hover {
                            color: var(--blue);
                        }
                    }
                }

                &_item-all {
                    a {
                        color: var(--blue);
                        text-decoration: underline;
                        text-decoration-style: dashed;

                        &:hover {
                            color: var(--orange)
                        }
                    }
                }
            }
        }   

        &_map {
            flex: 0 0 530px;
            border: 1px solid #CDCDCD;
            border-radius: 3px;
            overflow: hidden;

            &_info {
                padding: 15px;
                background: #FFFFFF;
                width: 100%;
                
                &_item {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 10px;
                    line-height: 12px;   
                    
                    &_w {
                        position: relative;
                        padding-left: 15px;

                        span {
                            width: 8px;
                            height: 8px;
                            background-image: url('../img/icons/walk.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            display: inline-block;
                            background-size: contain;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            top: calc(50% - 5px);
                            width: 10px;
                            height: 10px;
                            background-color: var(--blue);
                            left: 0;
                            border-radius: 100%;
                        }
                    }
                    
                    &_t {
                        text-transform: uppercase;
                    }
                }
            }

            &_el {
                width: 100%;

                iframe {
                    width: 100%;

                }
            }
        }
    }

    &__bottom {
        background: #F3F4FA;
        
        &_in {
            padding: 24px 0;
            display: flex;  
            align-items: flex-start;
            justify-content: space-between;
        }

        &_main {
            &_p {
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
            }

            &_text {
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                margin-bottom: 20px;
            }

            &_links {
                display: flex;
                align-items: center;

                &_item {
                    margin-right: 35px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    color: var(--blue);

                    &:hover {
                        color: var(--orange);
                    }
                }
            }
        }

        &_soc {
            display: flex;
            align-items: center;
            margin-left: -5px;
            margin-right: -5px;

            &_item {
                margin: 0 5px;

                a {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 27px;
                    height: 27px;
                    svg {
                        width: 100%;
                        height: 100%;

                        path {
                            @include def-anim;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: var(--orange);
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 1200px) {
    .footer {

        &__top {
            border: none;
           
            &_in {
                flex-wrap: wrap;
                padding-bottom: 0;
            }

            &_ph {
                width: 100%;
                margin-bottom: 30px;
            }

            &_actions {
                width: 100%;

                &_item {
                    width: calc((100% / 3) - 18px);

                    .button {
                        width: 100%;
                    }
                }
            }
        }

        &__main {

            &_body {
                width: 100%;
                order: 2;
                &_part {
                    width: calc((100% / 2) - 40px);
                }
            }
            &_in {
                flex-wrap: wrap;
            }


            &_map {
                width: 100%;
                flex: 0 0 auto;
                margin-bottom: 35px;
                height: 325px;
                display: flex;
                flex-direction: column;

                &_el {
                    flex: 1 0 auto;
                    iframe {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 40px;   
        &__top {

            &_ph {
                flex-direction: column;
                align-items: flex-start ;
                &_item {
                    margin-bottom: 10px;

                    a {
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
            &_actions {
                flex-wrap: wrap;

                &_item {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 10px;    
                }
            }
        }

        &__main {

            &_in {
                padding-bottom: 0;
            }
            &_body {    
                margin-left: -5px;
                margin-right: -5px;
                &_part {    
                    margin: 0 5px;
                    width: calc((100% / 2) - 10px);
                    margin-bottom: 30px;

                    &_head {
                        margin-bottom: 15px;
                    }
                    &_item {
                        padding: 0;
                        a {
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }
                }
            }

            &_map {

                &_info {

                    &_item {
                        flex-wrap: wrap;

                        div {
                            width: 100%;
                        }
                    }
                }
            }
        }

        &__bottom {

            &_in {
                flex-wrap: wrap;
            }
            &_main {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                &_links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &_item {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }

            &_soc {
                width: 100%;
                justify-content: center;
                
            }
        }
    }
}
