<div class="badges">
    <div class="badges__in">
        <div class="badges__item">ИКСИ-оплодотворение</div>
        <div class="badges__item">ИКСИ высокого разрешения</div>
        <div class="badges__item">Искусственное оплодотворение</div>
        <div class="badges__item">ЭКО в естественном цикле</div>
        <div class="badges__item">ЭКО с донорской спермой</div>
        <div class="badges__item">ЭКО по ОМС</div>
        <div class="badges__item">ЭКО IVM</div>
        <div class="badges__item">Короткий протокол ЭКО</div>
    </div>
</div>