<div class="doctorCard">
    <div class="doctorCard__main">
        <div class="doctorCard__main_img">
            <img src="./img/doctor.png" alt="">
        </div>
        <div class="doctorCard__main_rating">
            <div class="doctorCard__main_rating_label">Отзывы о враче</div>
        </div>
    </div>
    <div class="doctorCard__body">
        <div class="doctorCard__body_bgs">
            <div class="doctorCard__body_bgs_item">Стаж 45 лет</div>
            <div class="doctorCard__body_bgs_item">Основатель РАРЧ</div>
            <div class="doctorCard__body_bgs_item">Лауреат премии РФ</div>
        </div>
        <div class="doctorCard__body_main">
            <div class="doctorCard__body_main_name">Аншина Маргарита Бениаминовна</div>
            <div class="doctorCard__body_main_ex">Основатель центра “Фертимед”</div>
            <div class="doctorCard__body_main_phone"><a href="tel:">+7 (495) 249-88-08</a></div>
        </div>
        <div class="doctorCard__body_prices">
            <div class="doctorCard__body_prices_item online">
                <div class="doctorCard__body_prices_item_name">
                    Первичная консультация в клинике
                </div>
                <div class="doctorCard__body_prices_item_price">
                    3 500  руб.
                </div>
            </div>
            <div class="doctorCard__body_prices_item offline">
                <div class="doctorCard__body_prices_item_name">
                    Первичная консультация online
                </div>
                <div class="doctorCard__body_prices_item_price">
                    2 000  руб.
                </div>
            </div>
        </div>
    </div>
    <div class="doctorCard__info">
        <h3 class="doctorCard__info_head">
            Центр Репродукции и Генетики “Фертимед”
        </h3>
        <div class="doctorCard__info_adrs">
            <div class="doctorCard__info_adrs_item">г. Москва, ул. Елоховский пр-д. д. 3 стр. 2</div>
            <div class="doctorCard__info_adrs_item">г. Москва, ул. 3-я Парковая, д. 12</div>
        </div>
        <div class="doctorCard__info_m">
            <div class="doctorCard__info_m_item">м. Бауманская <span></span> 380 м</div>
            <div class="doctorCard__info_m_item">м. Измайловская <span></span> 490 м</div>
        </div>
        <div class="doctorCard__info_action">
            <div class="doctorCard__info_action_item">
                <button class="button blue">ОНЛАЙН-КОНСУЛЬТАЦИЯ</button>
            </div>
            <div class="doctorCard__info_action_item">
                <button class="button orange">ЗАПИСАТЬСЯ К ВРАЧУ</button>
            </div>
        </div>
    </div>
</div>