<div class="faqItem">
    <div class="faqItem__head">
        Репродуктологи с мировым именем
    </div>
    <div class="faqItem__body">
        <p>
            Кандидаты и доктора наук, с опытом от 12 до 37 лет, члены РАРЧ, ESCHRE, с тысячами успешных протоколов ЭКО.
            Обучают репродуктологов на базе РМАПО. Ведут научную деятельность.
            У нас принимают: лауреат премии правительства РФ, заслуженный деятель науки РФ, академик, профессор, 4 доцента, вице-президент РАРЧ, руководители центров, кафедр, лабораторий.
        </p>
    </div>
</div>