<div class="mobmenu">
    <div class="mobmenu__head">
        <button class="mobmenu__head_close"></button>
        <div class="mobmenu__head_main">
            <div class="mobmenu__head_main_lang">
                <div class="header__top_main_lang">
                    <div class="header__top_main_lang_item ru active">
                        <span class="header__top_main_lang_item_icon"></span>
                        <span class="header__top_main_lang_item_value">RU</span>
                    </div>
                    <div class="header__top_main_lang_item eng">
                        <span class="header__top_main_lang_item_icon"></span>
                        <span class="header__top_main_lang_item_value">ENG</span>
                    </div>
                </div>
            </div>
            <div class="mobmenu__head_main_search">
                <div class="header__bottom_search">
                    <div class="header__bottom_search_body">
                        <input type="text" placeholder="Поиск">
                    </div>
                    <button class="header__bottom_search_btn">

                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mobmenu__body">
        <div class="mobmenu__body_item mobmenu__body_item-drop">
            <div class="mobmenu__body_item_head acc-head">УСЛУГИ</div>
            <div class="mobmenu__body_item_menu acc-body">
                <ul class="mobmenu__body_item_menu_list">
                    <li class="mobmenu__body_item_menu_item mobmenu__body_item_menu_item-submenu">
                        <div class="mobmenu__body_item_menu_item-drop sub-head">Раздел 1</div>
                        <ul class="mobmenu__body_item_menu_item_menu sub-body">
                            <li class="mobmenu__body_item_menu_item_menu_li"><a href="#">Подраздел 1</a></li>
                            <li class="mobmenu__body_item_menu_item_menu_li"><a href="#">Подраздел 2</a></li>
                            <li class="mobmenu__body_item_menu_item_menu_li"><a href="#">Подраздел 3</a></li>
                            <li class="mobmenu__body_item_menu_item_menu_li"><a href="#">Подраздел 4</a></li>
                        </ul>
                    </li>
                    <li class="mobmenu__body_item_menu_item"><a href="#">Раздел 2</a></li>
                    <li class="mobmenu__body_item_menu_item"><a href="#">Раздел 3</a></li>
                    <li class="mobmenu__body_item_menu_item"><a href="#">Раздел 4</a></li>
                    <li class="mobmenu__body_item_menu_item"><a href="#">Раздел 5</a></li>
                    <li class="mobmenu__body_item_menu_item"><a href="#">Раздел 6</a></li>
                </ul>
            </div>
        </div>
        <div class="mobmenu__body_item">
            <div class="mobmenu__body_item_head">ВРАЧИ</div>
        </div>
        <div class="mobmenu__body_item">
            <div class="mobmenu__body_item_head">ЦЕНЫ</div>
        </div>
    </div>
    <div class="mobmenu__actions">
        <div class="mobmenu__actions_item">
            <button class="button tr-blue">НАШИ РЕЗУЛЬТАТЫ</button>
        </div>
        <div class="mobmenu__actions_item">
            <button class="button blue">ОНЛАЙН-КОНСУЛЬТАЦИЯ</button>
        </div>
        <div class="mobmenu__actions_item">
            <button class="button orange">ЗАПИСАТЬСЯ К ВРАЧУ</button>
        </div>
    </div>
    <div class="mobmenu__info">
        <div class="mobmenu__info_ph">
            <a href="tel:" class="mobmenu__info_ph_item">+7 (495) 504-15-26</a>
            <a href="tel:" class="mobmenu__info_ph_item">+7 (977) 833-93-17</a>
        </div>
        <ul class="mobmenu__info_ad">
            <li class="mobmenu__info_ad_item">г. Москва, ул. Елоховский пр-д. д. 3 стр. 2</li>
            <li class="mobmenu__info_ad_item">г. Москва, ул. 3-я Парковая, д. 12</li>
        </ul>
        <ul class="mobmenu__info_w">
            <li class="mobmenu__info_w_item">м. Бауманская  <span></span>   380 м</li>
            <li class="mobmenu__info_w_item">м. Измайловская  <span></span>   490 м</li>
        </ul>
        <ul class="mobmenu__info_t">
            <li class="mobmenu__info_t_item">ПН-СБ: 09:00-20:00</li>
            <li class="mobmenu__info_t_item">ВС: 09:00-21:00</li>
        </ul>
    </div>
</div>