<div class="pricingItem">
    <div class="pricingItem__main">
        <div class="pricingItem__name">
            Стоимость ЭКО в естественном цикле
        </div>
        <div class="pricingItem__price">
            <div class="pricingItem__price_main">93 000 руб.</div>
            <div class="pricingItem__price_old">112 500 руб.</div>
        </div>
    </div>
    
    <div class="pricingItem__body">
        <div class="pricingItem__body_val">
            87%
        </div>
        <div class="pricingItem__body_text">
            <p>
                Пациенток уходят из нашего центра беременными и счастливыми
            </p>
        </div>
    </div>
</div>