<div class="promoItem">
    <div class="promoItem__in">
        <div class="promoItem__img">
            <img src="./img/test-promo.png" width="90" height="90" alt="">
        </div>
        <div class="promoItem__badge">
            <div class="promoItem__badge_item">АКЦИЯ МЕСЯЦА </div>
        </div>
        <div class="promoItem__name">
            Прием одного из репродуктолога бесплатно! 
        </div>
        <div class="promoItem__link">
            <a href="#" class="promoItem__link_item">Узнать подробнее</a>
        </div>
    </div>
</div>