<div class="revItem">
    <div class="revItem__head">
        <div class="revItem__head_avatar">

        </div>
        <div class="revItem__head_body">
            <div class="revItem__head_body_rating"></div>
            <div class="revItem__head_body_name">Артем и Наталья</div>
            <div class="revItem__head_body_date">11.12.2022</div>
        </div>
    </div>
    <div class="revItem__text">
        <p>
            Наша семья очень благодарна уважаемому Торчинову Асланбеку Руслановичу и клинике Фертимед. А так же всем сотрудникам которые принимали участие в нашей процедуре. Желаем процветания клинике и огромных успехов нашему дорогому врачу. Искренне рекомендуем всем обращаться к Асланбеку Руслановичу "ФертиМед. " И желаем всем положительного результата. Еще раз огромное спасибо за сына.
        </p>
    </div>
    <div class="revItem__ath">
        Врач: <span>Торчинов Асланбек Русланович</span>
    </div>
</div>