<aside class="sidebar">
    <div class="sidebar__in">
        <div class="sidebar__main">
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head">Диагностика бесплодия</div>
                <ul class="sidebar__main_item_body">
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Длииииииннный раздел</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 6</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 123123</a></li>
                </ul>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head">Диагностика бесплодия</div>
                <ul class="sidebar__main_item_body">
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Длииииииннный раздел</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 6</a></li>
                    <li class="sidebar__main_item_body_li"><a href="">Раздел 123123</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar__nav"></div>
        <div class="sidebar__promos">
            <div class="sidebar__promos_item">
                @@include('./promoItem.html')
            </div>
            <div class="sidebar__promos_item">
                @@include('./promoItem.html')
            </div>
        </div>
    </div>
</aside>