<aside class="sidebar">
    <div class="sidebar__in">
        <div class="sidebar__main">
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Диагностика бесплодия</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">3D и 4D УЗИ</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ органов брюшной полости</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Доплер УЗИ при беременности</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ лимфатических узлов</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ молочных желез</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ мочевого пузыря</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ органов малого таза у мужчин</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ почек</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ предстательной железы</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ при беременности</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ трансвагинальное органов малого таза</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">УЗИ щитовидной железы</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Ультразвуковое ангиосканирование</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">ВРТ-диагностика</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Гинекология и лечение</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Урология и Андрология</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Генетическое обследование</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Программируемое зачатие</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Программы ЭКО</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Криопрограммы</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">ПГД</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Суррогатное материнство</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Инсеминация</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__main_item">
                <div class="sidebar__main_item_head acc-head">Лечение бесплодия</div>
                <div class="sidebar__main_item_body acc-body">
                    <ul class="sidebar__main_item_body_wrapper">
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 1</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 2</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 3</a></li>
                        <li class="sidebar__main_item_body_li"><a href="">Раздел 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar__nav">
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    НАШИ НОВОСТИ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    НАШИ РЕЗУЛЬТАТЫ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    ГАРАНТИИ КАЧЕСТВА
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    ХОТИТЕ ЗНАТЬ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    НАШИ ДЕТИ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    ЭКСКУРСИЯ ПО ЦЕНТРУ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    ТРЕБОВАНИЯ К ДОНОРАМ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    НОРМАТИВНАЯ ДОКУМЕНТАЦИЯ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    СЕРТИФИКАТЫ И ЛИЦЕНЗИИ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="sidebar__nav_item">
                <div class="sidebar__nav_item_head acc-head">
                    АНКЕТА ДЛЯ БУДУЩИХ РОДИТЕЛЕЙ
                </div>
                <div class="sidebar__nav_item_body acc-body">
                    <ul class="sidebar__nav_item_body_wrapper">
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 1</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 2</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 3</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 4</a></li>
                        <li class="sidebar__nav_item_body_li"><a href="#">Раздел 5</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="sidebar__promos">
            <div class="sidebar__promos_item">
                @@include('./promoItem.html')
            </div>
            <div class="sidebar__promos_item">
                @@include('./promoItem.html')
            </div>
        </div>
    </div>
</aside>